.choose-category {
  margin-top: 130px;
  text-align: center;

  &__title {

  }
  &__layout,
  &__form-layout {
    position: relative;
    max-width: 1230px;
    padding: 0 15px 78px;
    margin: 0 auto;

    &.hide{
      overflow: hidden;
      height: 0;
      padding: 0;
      -webkit-transition: height .3s ease;
      transition: height .3s ease;
    }

  }
  &__content {
    @include flexbox();
    @include flex-direction();
    @include justify-content();
    @include align-items();
    @include flex-wrap(wrap);

    >div {
      width: 100%;
      margin: 0 0 50px;

      &:first-child {

        .choose-category__item {

          .choose-category__pic {

            svg {
              width: 50px;
            }

          }

        }

      }

    }

  }
  &__item {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #2a2635;
    font-weight: 400;

    .svg-transparent{
      fill: none;
    }
    .svg-yelow{
      fill: #FFD41D;
    }

    &:hover {

      .choose-category__pic {
        background: #ffeeee;
        box-shadow: 0 20px 40px 0 rgba(255, 84, 84, 0.35);

        &:after {
          opacity: 1;
        }

        .svg-hover {
          fill: #fff;
        }
        .svg-hover-stroke {
          stroke: #fff;
        }

      }

    }

  }
  &__pic {
    position: relative;
    display: block;
    width: 161px;
    height: 161px;
    margin: 0 auto 26px;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:after {
      opacity: 0;
      position: absolute;
      top: 12px;
      right: 12px;
      bottom: 12px;
      left: 12px;
      border-radius: 100%;
      background: #ff5454;
      content: '';
      transition: opacity 0.3s ease-in-out;
    }
    svg {
      @include absoluteCenter();
      z-index: 2;
      width: 71px;

      * {
        transition: all 0.3s ease-in-out;
      }

    }

  }

  &__last-form{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 54px 15px 0;
    font-size: 18px;

    p{
      width: 100%;
      margin-bottom: 35px;
      letter-spacing: .4px;
    }

    input {
      width: 100%;
      max-width: 370px;
      height: 65px;
      margin-bottom: 20px;
      padding: 0 25px;
      border: 2px solid rgb(242, 243, 249);
      color: #2a2635;
      @include open-sans;
      font-size: 15px;
      -webkit-transition: box-shadow .3s ease, border-color .3s ease;
      transition: box-shadow .3s ease, border-color .3s ease;

      &:focus{
        box-shadow: 0 15px 20px 0 rgba(234, 67, 67, 0.1);
        border-color: rgb(255, 84, 84);
      }

    }

  }

  &__fieldset{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 370px;
    font-size: 16px;
  }

  &__form-layout {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    padding-top: 65px;
    height: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;

    &.show{
      opacity: 1;
      visibility: visible;
    }

  }

  &__form{
    position: relative;
    overflow: hidden;
    height: 0;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
  }

  &__btn-wrap{
    padding-top: 20px;
  }

  .site__title{
    margin-bottom: 65px;
  }

}

@media (min-width: $phone-landscape) {
  .choose-category {

    &__last-form{

      input {
        width: calc( 50% - 15px );
      }

    }

  }
}

@media (min-width: $tablet-portrait) {

  .choose-category {
    margin-top: 86px;

    &__layout,
    &__form-layout {
      padding-bottom: 158px;
    }
    &__form-layout {
      padding-top: 141px;
    }
    &__content {

      >div {
        width: 33.333%;
        margin: 0 0 30px;
      }

    }

    &__fieldset{
      width: calc( 50% - 15px );
      text-align: left;
    }

    .site__title{
      margin-bottom: 105px;
    }

  }

}
@media (min-width: $tablet-landscape) {

  .choose-category {
    margin-top: 60px;

    &__last-form{

      input {
        width: calc( 33% - 15px );
      }

    }

    &__fieldset{
      width: calc( 33% - 15px );
    }

  }

}
@media (min-width: $desktop-hd) {

  .choose-category {
    margin-top: 86px;

    &__layout,
    &__form-layout {
      padding-bottom: 248px;
    }

    &__form-layout {
      padding-top: 151px;
    }

    &__content{
      padding-top: 18px;
    }

    .site__title{
      margin-bottom: 116px;
    }

  }

}
